*{
	margin: 0;
	padding: 0;
	font-family: 'Coiny', cursive;
}

.flex-container{
	display: flex;
	
}

.text-uppercase {
  text-transform: uppercase;
}

/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.3%;
}

.span_6_of_8 {
  	width: 74.6%;
}

.span_5_of_8 {
  	width: 61.9%;
}

.span_4_of_8 {
  	width: 49.2%;
}

.span_3_of_8 {
  	width: 36.5%;
}

.span_2_of_8 {
  	width: 23.8%;
}

.span_1_of_8 {
  	width: 11.1%;
}

.col{
	margin-left: 4%;
    margin-right: 5%;
    width: 14%;
    height: 454px;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.col img{
    width: 158%;
    margin-top: 40px;
}

.texto{
	width: 159%;
	height: 240px;
    background-color: rgb(3, 127, 153);
    margin-top: -9px;
    color: white;
}

.texto h5{
	color: #FF7673;
	font-size: 17px;
}
.texto p{
    width: 88%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 31px;
    margin-left: 6%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}